<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CY.Iot.Common.Properties.Settings.sf_database_qxConnectionString"
            connectionString="Data Source=192.168.56.101;Initial Catalog=sf_database_qx;User ID=sa;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CY.Iot.Common.Properties.Settings.IotMeterConnectionString"
            connectionString="Data Source=LAPTOP-Q6VK00MU\SQLEXPRESS;Initial Catalog=IotMeter;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CY.Iot.Common.Properties.Settings.sf_database_qxConnectionString1"
            connectionString="Data Source=192.168.56.101;Initial Catalog=sf_database_qx;User ID=sa;Password=13526487308;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>