<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CY.FrameLib.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <!--<add name="DataAccessQuickStart" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SF_Database;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DataAccessQuickStart" connectionString="Data Source=192.168.1.6;Initial Catalog=SF_Db2.0;uid=sa;pwd=13526487308" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="DataAccessQuickStart" />
  <appSettings>
    <add key="defaultDatabase" value="DataAccessQuickStart" />
    <add key="UseServer" value="false" />
    <add key="SystemLogPath" value="C:\" />
    <add key="ILoginDLL" value="CY.Gas.BaseSystemPlus.dll" />
    <add key="ILoginClass" value="CY.Gas.BaseSystemPlus.UserLogin" />
    <add key="IRemotingDLL" value="CY.Gas.BaseSystemPlus.dll" />
    <add key="IRemotingnClass" value="CY.Gas.BaseSystemPlus.RegisterRemotingClient" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <CY.FrameLib.Common.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>127.0.0.0</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>9090</value>
      </setting>
    </CY.FrameLib.Common.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>