<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CY.FrameLib.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CY.FrameLib.Common.Properties.Settings.cy_sfConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MisFrameDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CY.FrameLib.Common.Properties.Settings.MisFrameDbConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=MisFrameDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CY.FrameLib.Common.Properties.Settings.FrameLib_DbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FrameLib_Db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CY.FrameLib.Common.Properties.Settings.FrameLib_DbConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=FrameLib_Db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <CY.FrameLib.Common.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8001</value>
            </setting>
        </CY.FrameLib.Common.Properties.Settings>
    </userSettings>
</configuration>