<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RX.Gas.ReportLib.Properties.Settings.GasTestConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=GasTest;Integrated Security=True;Persist Security Info=False"
            providerName="System.Data.SqlClient" />
        <add name="RX.Gas.ReportLib.Properties.Settings.RxDbConnectionString"
            connectionString="Data Source=.;Initial Catalog=RxDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>