<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CY.FrameLib.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SystemLogPath" value="C:\"/>
    <add key="ILoginDLL" value="CY.FrameLib.LoginLayer.dll"/>
    <add key="ILoginClass" value="CY.FrameLib.Common.UserLogin"/>
  </appSettings>
  <userSettings>
    <CY.FrameLib.Common.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>8001</value>
      </setting>
    </CY.FrameLib.Common.Properties.Settings>
  </userSettings>
</configuration>